body {
  background-image: url("Stupa_Borobudur.jpg");
  background-size: cover;
}

div {
    background-image: url("avocado.jpg");
    background-color: white;
    border: 2px solid red;
    width: 70%;
    height: 330px;
    overflow: scroll;
    color: blue;
    margin: 0 auto;
}
